body {
  width: 100vw;
  height: 320px;
  margin: 0;
  /* ^ remove when more content is in here */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-size: 18px;
  margin: 12px 0 0 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}


#container {
  height: 5vh;
  max-height:
  width: 100vw;
  background-color: #dddddd;
}

#title {
  display: inline-block;
  margin: 0;
}

#resultBox {
  background-color: #afafaf;

}
.resultItem {
  width: 100vw;
  height: 40px;
  display: grid;
  border-style: dotted;
  border-width: 1px;
}

.toon-img {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
